<!DOCTYPE html>
<html xml:ns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <ul th:replace="layout :: nav"></ul>
    <h1>Forum</h1>
    <h2 th:text="${board.name}"></h2>
    <ul>
        <li th:each="topic : ${topics}">
            <a th:href="@{/topics/} + ${topic.id}" th:text="${topic.name}"></a>
            <span th:text="'by ' + ${topic.author.username}"></span>
            <p th:text="'at ' + ${topic.date}"></p>
        </li>
    </ul>
    <ul>
       <li th:each="page : ${pages}">
           <a th:if="!(${currentPage} == ${page})" th:href="@{'/boards/' + ${board.id} (page=${page})}" th:text="'Page ' + ${page + 1}"></a>
           <span th:if="${currentPage} == ${page}" th:text="'Page ' + ${page + 1}"></span>
       </li>
    </ul>
    <a sec:authorize="isAuthenticated()" th:href="@{/topics/add?boardId=} + ${board.id}">New Topic</a>
</body>
</html>