<!DOCTYPE html>
<html xml:ns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <ul th:replace="layout :: nav"></ul>
    <h1>Forum</h1>
    <h2>Boards</h2>
    <ul>
        <li th:each="board : ${boards}">
            <a th:href="@{/boards/} + ${board.id}" th:text="${board.name}"></a>
            <a th:if="${board.lastTopic}" th:text="${board.lastTopic.name}"
            th:href="@{/topics/{topicId}(topicId=${board.lastTopic.id}, page=${board.lastTopic.lastPage})}"></a>
            <p th:if="${board.lastTopic}" th:text="' by '+ ${board.lastTopic.lastPost.author.username} + ' at ' + ${board.lastTopic.lastPost.date}"></p>
        </li>
    </ul>
</body>
</html>