<!DOCTYPE html>
<html xml:ns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <ul th:replace="layout :: nav"></ul>
    <h1>Forum</h1>
    <form th:action="@{/posts/} + ${post.id}" method="post" th:object="${post}" enctype="multipart/form-data">
        <textarea name="text" th:errorclass="error" th:text="${post.text}" rows="10" cols="50"></textarea>
        <div class="error-message" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
        <input type="file" name="file"/>
        <button type="submit">Update post</button>
    </form>
    <p th:each="image : ${images}">
        <img th:src="@{/upload/} + ${image}"/>
    </p>
</body>
</html>