<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body>
    <ul th:replace="layout :: nav"></ul>
    <h1>Forum</h1>
    <h3>Register</h3>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <input th:field="*{username}" th:errorclass="error" th:classappend="${userExistsError} ? 'error' : ''" placeholder="Username"/>
        <div class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        <div class="error-message" th:if="${userExistsError}" th:text="${userExistsErrorMessage}"></div>

        <input th:field="*{password}" th:errorclass="error" placeholder="Password" type="password"/>
        <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>


        <input name="passwordAgain" th:classappend="${passwordConfirmationError} ? 'error' : ''" placeholder="Retype your password" type="password"/>
        <div class="error-message" th:if="${passwordConfirmationError}" th:text="${passwordConfirmationErrorMessage}"></div>
        <button type="submit">Login</button>
    </form>
</body>
</html>