<!DOCTYPE html>
<html xml:ns:th="http://www.thymeleaf.org">
<head>
    <title>Forum</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <ul th:replace="layout :: nav"></ul>
    <h1>Forum</h1>
    <h2 th:text="${board.name}"></h2>
    <form th:action="@{/topics/add}" method="post" th:object="${topic}">
        <!--<input type="hidden" th:field="*{id}"/>-->
        <input type="hidden" th:value="${board.id}" name="boardId"/>

        <div>
            <label for="name">Title:</label>
            <br/>
            <input type="text" th:errorclass="error" th:field="*{name}"/>
            <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div>
            <label for="firstPost">Message: </label>
            <br/>
            <textarea id="firstPost" name="firstPostText"  th:classappend="${firstPostTextError} ? 'error' : ''" rows="10" cols="50"></textarea>
            <div class="error-message" th:if="${firstPostTextError}" th:text="${firstPostTextErrorMessage}"></div>
        </div>

        <button type="submit">Reply</button>
    </form>
</body>
</html>