<!DOCTYPE html>
<html xml:ns:th="http://www.thymeleaf.org">
<head>
    <title>Forum</title>
</head>
<body>
    <h1>Forum</h1>
    <h2 th:text="${topic.name}"></h2>
    <ul>
        <li th:each="post : ${topic.posts}">
            <p th:text="'Author: ' + ${post.author.username}"></p>
            <p th:text="${post.text}"></p>
        </li>
    </ul>
    <form th:action="@{/topics/} + ${topic.id}" method="post" th:object="${reply}">
        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{text}"/>
        <button type="submit">Reply</button>
    </form>
</body>
</html>