<!DOCTYPE html>
<html xml:ns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <ul th:replace="layout :: nav"></ul>
    <h1>Forum</h1>
    <h2 th:text="${topic.name}"></h2>
    <ul>
        <li th:each="postEntry : ${postMap}">
            <p th:text="'Author: ' + ${postEntry.key.author.username}"></p>
            <p th:text="${postEntry.key.text}"></p>
            <a th:if="${postEntry.value}" th:href="@{/posts/} + ${postEntry.key.id}">Edit</a>
        </li>
    </ul>
    <form sec:authorize="isAuthenticated()" th:action="@{/topics/} + ${topic.id}" method="post" th:object="${reply}">
        <input type="hidden" th:field="*{id}"/>
        <label for="text">Quick Reply:</label>
        <textarea th:field="*{text}" th:errorclass="error" rows="5" cols="50"></textarea>
        <div class="error-message" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
        <button type="submit">Reply</button>
    </form>
</body>
</html>