<!DOCTYPE html>
<html xml:ns:th="http://www.thymeleaf.org">
<head>
    <title>Forum</title>
</head>
<body>
    <ul th:replace="layout :: nav"></ul>
    <h1>Forum</h1>
    <h2 th:text="${board.name}"></h2>
    <form th:action="@{/topics/add}" method="post" th:object="${topic}">
        <!--<input type="hidden" th:field="*{id}"/>-->
        <input type="hidden" th:value="${board.id}" name="boardId"/>

        <input type="text" th:field="*{name}"/>

        <button type="submit">Reply</button>
    </form>
</body>
</html>